@font-face {
  font-family: 'Magic:the Gathering';
  src: url('/fonts/magic.woff2') format('woff2');
}

@font-face {
  font-family: 'MPlantin1';
  src: url('/fonts/MPlantin-Straight.woff2') format('woff2');
}
@font-face {
  font-family: 'MPlantin1';
  src: url('/fonts/MPlantin-Italic-Scryfall.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Beleren2016';
  src: url('/fonts/Beleren2016-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
  src: url('/fonts/EBGaramond-VariableFont_wght.woff2') format('woff2');
}

@font-face {
  font-family: 'Matrix';
  src: url('/fonts/Matrix-Bold.woff2') format('woff2');
}

body {
  background-color: #222;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-sizing: border-box;
}

:root {
  --max-card-width: 30em;
  --font-size: calc(var(--max-card-width) * 0.038);
  --card-width: calc(var(--max-card-width) * 1);
  --card-height: calc(var(--card-width) * 1.4);
}

section {
  margin: 0.5em;
}
/*
.sectionBlocks {
  height: 100vh;
  max-height: 100vw;
  width: 71.42vw;
  max-width: 71.42vh;
}
*/
#renderedCardSide {
  order: 1;
}

#pulledCard {
  order: 2;
}

#card {
  display: block;
  border-radius: calc(var(--max-card-width) * 0.05); /*20px*/
  /*height: var(--card-height);*/
  width: var(--card-width);
  margin: 0em auto;/*
  max-height: 96vh;*/
}

#renderedCard {
  font-size: var(--font-size);
  color: black;
  border: 1em solid black;
  margin: 0 auto;
  width: calc(var(--card-width) * 0.9);
  height: fit-content;
}

.bar {
  margin: 0.4em 1em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  background-color: #0005;
}

#title {
  font-size: 1.4em;
  justify-content: left;
  display: flex;
  font-family: MPlantin, 'Magic:the Gathering', serif;
  padding-top: 0.1em;
  position: absolute;
}

#cost {
  display: flex;
  font-size: 1.4em !important;
  padding: 0.05em;
  margin-left: auto;/*
  margin: 0.1em;
  margin-top: 0.2em;
  width: 1.6em !important;
  height: 1.6em !important;
  line-height: 1.1em !important;
  vertical-align: text-top !important;*/
}
/*#cost > .ms-cost {
  border: black solid 1px;
}*/

#art {
  margin: 0 0.8em;
  width: calc(var(--card-width) * 0.9 - 1.6em);/**/
}

#type {
  font-family: /*'Plantin', 'Matrix', */ 'MPlantin1', 'Beleren2016', serif;
  font-weight: 700;
  font-size: 1.2em;
}

#rarity {
  text-transform: uppercase;
  color: black;
  padding: 0 0.2em;
  font-weight: bold;
  font-size: 1.0em;
  font-family: sans-serif;
  line-height: 1.1em;
}

#textBox {
  font-weight: 100;
  line-height: 1.0em;
  font-size: 1.2em;
  margin: 0.4em 0.6em;
  font-family: 'MPlantin1', 'EB Garamond', 'Plantin', Georgia, "Times New Roman", serif;
  background-color: #FFFFFF44;
  padding: 0.01em 0;
}

#oracle {
  /*color: white;*/
  margin: 0.4em;
  white-space: pre-wrap;
}
#oracle > p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

#flavour {
  font-size: 1em;
  font-style: italic;
  font-weight: 100;
  margin: 0.5em 0.4em 0.5em;
  font-family: 'MPlantin1',  Georgia, "Times New Roman", serif;
}
#flavour > p {
  margin: 0;
}

#bottomBar {
  align-items: initial;
  background-color: black;
  margin: 0.4em 0.7em;
}

#artist {
  font-size: 0.9em;
  font-weight: 500;
  position: absolute;
  margin-top: -0.15em;
  font-family: sans-serif;
  /*margin-right: auto;*/
}

#date {
  font-size: 0.6em;
  position: absolute;
  margin-top: 1.6em;
  /*margin-right: auto;*/
}

#power {
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'MPlantin1', Georgia, 'Times New Roman', serif;
  margin-left: auto;
}

#blank {
  height: 1.8em;
}

.ms-cost {
  font-size: 0.7em !important;
  padding: 0.05em;
  margin: 0.1em;
  /*margin-bottom: 0.4em;*/
  width: 1.1em !important;
  height: 1.1em !important;
  line-height: 1.1em !important;
  /*vertical-align: text-top !important;*/
}
p.ms-cost, p > i.ms-cost {
  margin-bottom: 0.4em;
}

i.ms {
  margin-top: 0em;
}

.buttonLine {  
  display: flex;
  /*transition: box-shadow .1s linear, margin-top .1s linear;*/
}

.buttons {
  font-size: calc(var(--font-size) * 2);
  border: none;
  cursor: pointer;
  padding: 0.1em 0.4em;
  background: #000;
  color: #db8514;
  font-family: 'Bangers';
  text-decoration: none;
  /*transition: box-shadow .1s linear, margin-top .1s linear;*/
}

#link {
  margin-right: auto;
}

#button {
  margin-left: auto;
}

#card.loading {
  opacity: .7;
}

#card.loading+#loadingIcon {
  opacity: 1;
  animation: spin 2s linear infinite;
}

#loadingIcon {
  position: absolute;
  opacity: 0;
  top: 12em;
  left: calc(50% - 3em);
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(359deg);
  }
}